:root {
  --green-color: #59ab6e;
  --bg-gray: #efefef;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

.topper {
  background: #000;
  color: rgb(95, 95, 95);
}

.topper i {
  color: rgb(206, 205, 205);
  font-size: 12px;
  padding: 0px 5px;
}

.topper-left a {
  color: rgb(206, 205, 205);
  font-size: 12px;
  margin-right: 5px;
}

.topper-right a {
  color: rgb(206, 205, 205);
}

.logo h1 {
  font-size: 48px;
  color: var(--green-color);
  font-weight: 600;
}

.nav ul li a {
  font-size: 20px;
  font-weight: 200;
  padding: 0px 30px;
}

.nav-hover:hover {
  cursor: pointer;
  color: var(--green-color);
}

.icons i {
  padding-right: 20px;
  font-size: 20px;
}

.frist-slider-heading {
  font-size: 48px;
  font-weight: 200;
  color: var(--green-color);
}

.slider-content h1 {
  font-size: 48px;
  font-weight: 200;
}

.frist-slider-heading > span {
  font-weight: 500;
}

.slider-content h2 {
  font-weight: 300;
  font-size: 30px;
  padding-right: 80px;
}

.frist-slider-text {
  font-size: 18px;
  word-break: break-all;
  padding-right: 42px;
}

.slider-content p {
  font-size: 18px;
  word-break: break-all;
}

.frist-slider-text a {
  color: var(--green-color);
  text-decoration: underline;
}

.sliders-img {
  padding-right: 100px;
}

.bg-gray {
  background-color: var(--bg-gray);
}

.bg-green {
  color: var(--green-color);
  fill: #59ab6e;
}

.height-90 {
  height: 90vh;
}

/* .slider-img {
        width: 50%;
        height: 100%;
      } */

/* .slider-img img {
        width: 80%;
        height: 100%;
      } */

.slider-content {
  width: 50%;
  height: auto;
}

/* .section-1 {
        height: 90vh;
      } */
